@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidade";
}
<h3>Política de Privacidade da Thrash Shop</h3>

<p>Última atualização: 10/12/2020</p>

<p>
    A Thrash Shop está comprometida em proteger a privacidade dos nossos clientes e visitantes. Esta Política de
    Privacidade descreve como coletamos, usamos e protegemos as informações pessoais que você fornece ao utilizar nosso
    site e serviços. Ao acessar ou utilizar o site da Thrash Shop, você concorda com as práticas descritas nesta política.
</p>

<h4>Informações que coletamos</h4>
<ul>
    <li>
        <strong>Informações de Identificação Pessoal:</strong>
        Podemos coletar seu nome, endereço de e-mail, endereço postal e outras informações de contato quando você realiza
        uma compra ou se inscreve em nossa newsletter.
    </li>
    <li>
        <strong>Informações de Pagamento:</strong>
        Para processar suas compras, podemos coletar informações de pagamento, como detalhes do cartão de crédito ou 
        outras informações de pagamento.
    </li>
    <li>
        <strong>Informações de Conta:</strong>
        Se você criar uma conta em nosso site, coletaremos informações como nome de usuário e senha.
    </li>
    <li>
        <strong>Informações de Compra:</strong>
        Podemos coletar detalhes das compras que você realiza em nosso site.
    </li>
    <li>
        <strong>Informações de Navegação:</strong>
        Coletamos informações sobre como você interage com nosso site, incluindo páginas visitadas e a duração da visita.
    </li>
</ul>

<h4>Como usamos suas informações</h4>
<ul>
    <li>
        Usamos suas informações para processar suas compras e fornecer suporte ao cliente.
    </li>
    <li>
        Utilizamos suas informações para personalizar sua experiência no site e recomendar produtos com base em seu 
        histórico de compras.
    </li>
    <li>
        Podemos enviar e-mails promocionais e newsletters se você optar por recebê-los.
    </li>
    <li>
        Utilizamos informações de navegação para melhorar nosso site e entender o comportamento do usuário.
    </li>
</ul>

<h4>Compartilhamento de informações</h4>
<ul>
    <li>
        Não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros, exceto quando necessário para 
        processar sua compra (por exemplo, com processadores de pagamento).
    </li>
    <li>
        Podemos compartilhar informações agregadas e não identificáveis com terceiros para fins de análise e marketing.
    </li>
</ul>

<h4>Segurança das informações</h4>
<ul>
    <li>
        Utilizamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado e uso indevido.
    </li>
    <li>
        Armazenamos informações de pagamento de forma segura e não as mantemos após a conclusão da transação.
    </li>
</ul>

<h4>Seus direitos</h4>
<ul>
    <li>
        Você pode solicitar acesso, correção ou exclusão de suas informações pessoais a qualquer momento.
    </li>
    <li>
        Você pode optar por não receber comunicações de marketing da Thrash Shop.
    </li>
</ul>

<h4>Contate-nos</h4>
<p>
    Se você tiver alguma dúvida sobre nossa Política de Privacidade ou sobre como suas informações são tratadas, entre 
    em contato conosco em <strong>thrashshop@thrash.com</strong>.
</p>
<p>
    Esta Política de Privacidade pode ser atualizada periodicamente. Recomendamos que você reveja esta política 
    regularmente para se manter informado sobre como suas informações estão sendo protegidas.
</p>